<div class="center hero-unit">
	<h1>Welcome to the GA Shelter</h1>
	<h2>This is the home page for the GA Shelter application.</h2>
	<img>
	<%= link_to image_tag("Dog.jpg", :alt => "Dogs"), dog_path %>
	<%= link_to image_tag("Cat.jpg", :alt => "Cats"), cat_path %>
</img>
</div>

	
